/*右键菜单*/

ul.rightMouse {
    border-radius: 10px;
    width: 140px;
    height: max-content;
    background-color: var(--right-bg);
    font-size: 10px;
    list-style: none;
    line-height: 35px;
    position: fixed;
    display: none;
    padding-left: 0;
    margin: 0;
    transition-duration: 0.2s;
    backdrop-filter: blur(5px);
    z-index: 1000;
    box-shadow: 0 0 25px 0px var(--right-shadow);
    color: var(--main-color);
}

ul.rightMouse>li {
    padding: 0 15px;
    margin: 5px;
    border-radius: 5px;
    transition-duration: 0.2s;
}

ul.rightMouse>li:hover {
    background-color: var(--right-hover);
}