:root {
    --main: #719fe3;
    --main-hover: #96bbf1;
    --main-active: #4c7dd6;
    --main-bg: #1c1c1c;
    --main-color: #ffffff;
    --right-bg: #2525258f;
    --right-hover: #00000040;
    --right-shadow: #000000b3;
    --scroll-bg: #2b2b2b;
    --scroll-line-bg: #575757;
    --head-bg: #1c1c1c40;
    --head-shadow: #111111cc;
    --card-bg: #292929;
    --card-shadow: #111111;
}

/*导航栏*/

div.head {
    background-color: var(--head-bg);
    color: var(--main);
    width: 100%;
    height: 75px;
    box-shadow: 0px 2px 15px 0px var(--head-shadow);
    position: fixed;
    top: 0;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    /*Safari*/
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: space-between;
}

div.head>div div {
    padding: 0 10px;
    float: left;
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

/*导航栏链接*/
div.head a:link {
    color: var(--main);
}

div.head a:visited {
    color: var(--main);
}

div.head a:hover {
    color: var(--main-hover);
}

div.head a:active {
    color: var(--main-active);
}

/*左边栏*/
div.head>div#left {
    display: flex;
}

div#icon {
    display: flex;
}

div#icon>img {
    width: auto;
    height: 65px;
}

/*右边栏*/
div.head>div#right {
    display: flex;
    align-items: center;
}

div#clock {
    display: block;
    padding: 5px;
    border-radius: 5px;
    height: 20px;
    right: 10px;
    transition-duration: 0.2s;
    overflow: hidden;
    font-size: 18px;
    text-align: center;
}

div#clock:hover {
    height: 48px;
}

div#clock>p {
    margin: 0 5px;
    font-family: consolas;
}

img#color {
    height: 30px;
    margin-right: 5px;
}

div#top {
    width: 100%;
    height: 75px;
    top: 0;
}

/*底部信息*/

div#bottom {
    width: 100%;
    height: 150px;
    background-color: var(--main);
    bottom: 0;
    margin-top: 3em;
    color: #ffffff;
}

/*底部链接*/
div#bottom>div#A {
    text-align: center;
    padding: 20px;
}

div#bottom>div#A>a {
    color: #ffffff;
    font-size: 16px;
    margin: 5px;
}

div#bottom>div#A>a:active {
    font-size: 15px;
}

div#bottom p {
    color: #ffffff;
}

/*
关于页面css
*/

div#user {
    margin: auto;
    text-align: center;
}

img.userImg {
    border-radius: 50%;
    width: 25%;
    margin: 3em;
}

/*
项目页面css
*/

div#editor {
    margin: auto;
    width: max-content;
    height: 310px;
}

div.card {
    border-radius: 32.5px;
    background-color: var(--card-bg);
    box-shadow: 0 0 15px var(--card-shadow);
    margin: 15px 10px;
    transition-duration: 0.3s;
    text-align: center;
    overflow: hidden;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-content: stretch;
    float: left;
    width: 65px;
    height: 310px;
}

div.card:hover {
    border-radius: 15px;
    width: 300px;
    box-shadow: 0 0 20px 5px var(--card-shadow);
}

div.card>p {
    margin: 10px auto;
}

div.card>img {
    height: 190px;
}